.gradle/
build/

# Eclipse stuff
.classpath
.project
.settings/

# VSCode stuff
.vscode/

# netbeans
nbproject/
nbactions.xml

# vim
.*.sw[a-p]

# various other potential build files
bin/
dist/
manifest.mf

# Mac filesystem dust
.DS_Store/
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/
out/

# Linux temp files
*~

# other stuff
run/

gale-server/classes/
gale-server/generated/
gale-server/libs/
gale-server/tmp/
gale-server/src/minecraft/
gale-api/classes/
gale-api/generated/
gale-api/libs/
gale-api/tmp/

gale-api/build.gradle.kts
gale-server/build.gradle.kts

paper-api/
paper-server/

!gradle/wrapper/gradle-wrapper.jar
